/* ============================================
// ESTILOS DE LA PAGINA PERFIL (CLON INICIO)
// ============================================ 
*/

.userprofile-container {
    padding: 15px;
    max-width: 1300px;
    margin: 0 auto;
}

.userprofile-container h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--text);
}

.userprofile-id {
    font-size: 14px;
    color: var(--text-2);
    line-height: 1.6;
}

/* PC */
@media (min-width: 769px) {
    .userprofile-container {
        padding: 20px;
    }

    .userprofile-container h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .userprofile-id {
        font-size: 16px;
    }
}

.user-profile-name {
    font-size: 20px;
    font-weight: 600;
    color: var(--text);
    margin: 0;
}

.user-profile-id {
    font-size: 14px;
    color: var(--text-2);
    margin: 0;
}

.user-profile-placeholder {
    color: var(--text-2);
    line-height: 1.6;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.01em;
}

/* ============================================
// PC
// ============================================ 
*/

@media (min-width: 769px) {
    .user-profile-container {
        min-height: calc(100vh - 70px);
        padding: 0;
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .user-profile-content {
        min-height: calc(100vh - 95px);
    }

    .user-profile-content h1 {
        font-size: 32px;
    }

    .user-profile-avatar {
        width: 100px;
        height: 100px;
    }

    .user-profile-name {
        font-size: 24px;
    }

    .user-profile-placeholder {
        font-size: 22px;
    }
}